Package: com.aliucord
Name: AliucordTweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: AliucordRN native hooks for iOS
Maintainer: rushii
Author: rushii
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
